<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <title>File Browser</title>
    <link rel="stylesheet" href="resource/css/normalize.css">
    <link rel="stylesheet" href="resource/css/main.css">
</head>
<body>
<div id="container">
    <section>
        <h1>Frpc</h1>
        <div class="toggle-container">
            <div class="loading-flower">
                <div class="flower"></div>
            </div>
            <div class="frame" id="turn">
                <div class="button"></div>
            </div>
        </div>
    </section>
    <div id="statusbox">
        <h2 class="sec-bksize setbkspace clearfix"><span class="k">配置方式:</span>

            <div class="v"><span id="bkspace">loading...</span><i class="ico-set"></i></div>
        </h2>

    </div>

    <div class="wrapper clearfix">
        <div class="yo-tip hide" id="tip"></div>
        <div class="content">
            <textarea id="textarea" placeholder="请粘贴frpc配置"></textarea>
        </div>
        <div class="footer">
            <div class="button" id="button">配置</div>
        </div>
    </div>
    <h2>使用帮助：</h2>
    <ol>
        <li>1: File Browser 是一个基于 Web
            的文件管理器。它可以使你随时随地的对设备的文件进行基本的管理操作，如：创建、删除、移动、复制等。它除了可以让你进行文件管理之外，还有一些其他的功能。它支持多个用户的管理，而且每个用户可以拥有自己可以访问的文件和权限。它还支持文件分享，就行网盘那样，你可以通过它来向你的朋友分享文件。你还可以用它来执行一些
            Linux 命令，比如你想要在当前目录下克隆一个代码库，就可以用它来执行git等命令。
        </li>
        <li>2: 插件启用后可以通过 http://路由IP地址:端口 访问，（默认账号和密码都是admin，登录后自行修改）</li>
        <li>3: 建议配置 Frpc 插件使用,可以实现公网域名访问</li>

    </ol>
</div>
<div id="loading" class="loading" style="display:none;">正在加载…</div>
<div id="toast" class="toast" style="display:none;"></div>
<div class="mask"
     style="position:fixed;left:0;top:0;z-index:1; width:100%;height:100%;background:rgba(0,0,0,0.4); display:none;"></div>
<div class="bkspaceset" style="display:none;">
    <form name="bkspaceset">
        <input type="hidden" name="bksizeauto" id="bksizeauto">

        <p class="title">配置方式</p>

        <!--p>设置端口,不要与其他应该冲突</p-->

        <div class="btn-group btn-group-autosize">
            <div class="btn" data-size="简单设置">简单设置</div>
            <div class="btn" data-size="自定义设置">自定义设置</div>
        </div>
        <p>说明：</p>

        <p>简单：通过ui配置</p>
        <p>自定义：自定义修改配置文件</p>

        <p class="btns">
            <button type="submit" class="btn submit">确认</button>
            <button type="button" class="btn cancel cancel__">取消</button>
        </p>
    </form>
</div>
<div class="loading-layer">
    <div class="bg-cont"></div>
</div>


<script src="resource/js/jquery-2.1.0.min.js"></script>
<script src="resource/js/jsencrypt.js"></script>
<script src="http://app.miwifi.com/js/router_request.js"></script>

<script>
    var appId = "2882303761517415902";

    var DEBUG = false;
    var lock = false;
    var errorCode = {
        2501: '安装插件失败',
        2502: '控制插件失败',
        2503: '插件包不存在',
        2504: '请输入插件ID',
        2505: '配置信息key不能以数字开头',
        2506: '此插件正在安装',
        2507: '此插件已经安装',
        2508: '插件签名验证错误',
        2509: '签名类型错误',
        2510: '更新状态出错',
        2511: 'Pid不存在',
        2512: '插件不存在',
        2513: 'sdk版本过低',
        2514: 'mount userdisk 出错',
        2515: '无法获取设备id'
    };
    var istoast = false;
    var toast = function (msg) {
        if (istoast) {
            $('#toast').stop(1, 1).hide();
        }
        istoast = true;
        $('#toast').html(msg).fadeIn(400, function () {
            setTimeout(function () {
                $('#toast').fadeOut(400);
                istoast = false;
            }, 2000);
        });
    };

    function getStatus() {
        var data = {appId: appId};
        routerRequest.request({
            path: "/api-third-party/service/datacenter/get_plugin_status",
            data: data,
            success: function (data) {

                data = $.parseJSON(data);
                if (data.code == 0) {
                    $('.loading-flower').addClass('fade-out');
                    $('.frame').addClass('fade-in');
                    if (data.isEnable) {
                        $('#turn').addClass('open');
                        $('.defaulthide').show();
                    } else {
                        $('#turn').removeClass('open');
                        $('.defaulthide').hide();
                    }
                    $('#turn').bind('click', toggleStatus);

                } else if (data.code in errorCode) {
                    toast(errorCode[data.code]);
                } else {
                    data.msg && toast(data.msg);
                }
            },
            error: function (data) {
                toast('获取插件信息失败');
            }
        });
    }

    function toggleStatus(evt) {
        var target = evt.target;
        var isOpen = $('#turn').hasClass('open');
        var url = isOpen ? "/api-third-party/service/datacenter/plugin_disable" : "/api-third-party/service/datacenter/plugin_enable";
        var text = isOpen ? "关闭" : "打开";

        setEnable(isOpen ? "off" : "on")

        if (lock) {
            return
        }
        lock = true;

        $('#loading').text('正在' + text + '…').show();
        var data = {appId: appId};
        if (DEBUG) {
            $.extend(data, {deviceId: deviceId});
        }
        routerRequest.request({
            path: url,
            type: "GET",
            dataType: 'json',
            data: data,
            success: function (data) {
                data = $.parseJSON(data);
                if (data.code == 0) {
                    $('#turn').toggleClass('open');
                } else if (data.code in errorCode) {
                    toast(errorCode[data.code]);
                } else {
                    data.msg && toast(data.msg);
                }
                lock = false;
                $('#loading').hide();
                setTimeout(function () {
                    getStatus();
                }, 1000);
            },
            error: function (data) {
                lock = false;
                $('#loading').hide();
                toast('修改插件状态失败');
            }
        });
    }

    function setEnable(enable) {
        var url = '/api-third-party/service/datacenter/set_config';
        var data = {
            appId: appId,
            key: 'enable',
            value: enable
        };
        routerRequest.request({
            path: url,
            type: "GET",
            dataType: 'json',
            data: data,
            success: function (data) {
                data = $.parseJSON(data);
                if (data.code == 0) {
                    //toast('设置成功');
                    //location.reload(1);
                } else {
                    toast(data.msg);
                }
            },
            error: function () {
                toast('网络异常，请重试');
            }
        });
    }


    function setType(type) {
        var url = '/api-third-party/service/datacenter/set_config';
        var data = {
            appId: appId,
            key: 'type',
            value: type
        };
        routerRequest.request({
            path: url,
            type: "GET",
            dataType: 'json',
            data: data,
            success: function (data) {
                data = $.parseJSON(data);
                if (data.code == 0) {
                    toast('设置成功');
                    location.reload(1);
                } else {
                    toast(data.msg);
                }
            },
            error: function () {
                toast('网络异常，请重试');
            }
        });
    }

    function getType() {

        var url = '/api-third-party/service/datacenter/config_info';
        var data = {
            appId: appId,
            key: 'type'
        };
        if (DEBUG) {
            $.extend(data, {deviceId: deviceId});
        }
        routerRequest.request({
            path: url,
            type: "GET",
            dataType: 'json',
            data: data,
            success: function (data) {
                //toast(data);
                data = $.parseJSON(data);
                if (data.code == 0) {
                    $('#bkspace').html(decodeURIComponent(data.value));
                } else {
                    $('#bkspace').html(data.msg);
                }
            },
            error: function () {
                toast('网络异常，请重试');
            }
        });
    }

    function getFrpcIni() {

        var url = '/api-third-party/service/datacenter/config_info';
        var data = {
            appId: appId,
            key: 'frpc_ini'
        };
        if (DEBUG) {
            $.extend(data, {deviceId: deviceId});
        }
        routerRequest.request({
            path: url,
            type: "GET",
            dataType: 'json',
            data: data,
            success: function (data) {
                //toast(data);
                data = $.parseJSON(data);
                if (data.code == 0) {
                    $("#textarea").val(decodeURIComponent(data.value))
                    //$('#bkspace').html(decodeURIComponent(data.value));
                } else {
                    $('#bkspace').html(data.msg);
                }
            },
            error: function () {
                toast('网络异常，请重试');
            }
        });
    }


    $(document).ready(function () {

        $('.cancel__').click(function () {
            $('.bkspaceset').toggle();
            $('.mask').toggle();
        });
        $('.setbkspace').click(function (e) {
            $('.bkspaceset').toggle();
            $('.mask').toggle();
        });
        $('.btn-group-autosize .btn').click(function (e) {
            $('.btn-group-autosize .btn').removeClass('active');
            $(this).addClass('active');
            var val = $(this).attr('data-size');
            //toast(val)
            $('#bksizeauto').val(val);
        });
        $('#bksizecust').on('blur', function () {
            if (this.value != '') {
                $('#bksizeauto').val('');
                $('.btn-group-autosize .btn').removeClass('active');
            }
        });
        $(document.bkspaceset).on('submit', function (e) {
            e.preventDefault();
            //toast(encodeURIComponent($('#bksizeauto').val()));
            setType(encodeURIComponent($('#bksizeauto').val()));
        });
        getStatus();
        getType();
        getFrpcIni();
        $("#button").on("click", function () {

            var url = '/api-third-party/service/datacenter/set_config';
            frpc_config = $("#textarea").val();
            if (frpc_config.length == 0) {
                toast("请添加配置");
                return;
            }
            frpc_config = encodeURIComponent(frpc_config);
            var data = {
                appId: appId,
                key: 'frpc_ini',
                value: frpc_config
            };
            routerRequest.request({
                path: url,
                type: "GET",
                dataType: 'json',
                data: data,
                success: function (data) {
                    data = $.parseJSON(data);
                    if (data.code == 0) {
                        toast('设置成功');
                        location.reload(1);
                    } else {
                        toast(data.msg);
                    }
                },
                error: function () {
                    toast('网络异常，请重试');
                }
            });
        });
    })
    ;

</script>
</body>
</html>
